---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$header-font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
$content-font-family: 'Avenir Next', sans-serif;
$code-font-family: source-code-pro, Menlo, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
$base-font-size: 17px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #555;
$background-color: #fcfcfc;
$brand-color: #689;
$brand-color-2: #966;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$content-width: 650px;
$on-palm: 650px;
$on-laptop: $content-width;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "base", "layout";

@import url(https://fonts.googleapis.com/css?family=Merriweather);
